.ivu-date-picker {
  line-height: normal
}

.ivu-date-picker-rel {
  position: relative
}

.ivu-date-picker .ivu-select-dropdown {
  width: auto;
  padding: 0;
  overflow: visible;
  max-height: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 5px 0;
  z-index: 900;
}

.ivu-date-picker-cells {
  width: 196px;
  margin: 10px;
  white-space: normal
}

.ivu-date-picker-cells span {
  display: inline-block;
  width: 24px;
  height: 24px
}

.ivu-date-picker-cells span em {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 2px;
  font-style: normal;
  border-radius: 3px;
  text-align: center;
  transition: all .2s ease-in-out;
  font-size: 12px;
  color: #495060;
}

.ivu-date-picker-cells-header span {
  line-height: 24px;
  text-align: center;
  margin: 2px;
  color: #bbbec4
}

span.ivu-date-picker-cells-cell {
  width: 28px;
  height: 28px;
  cursor: pointer
}

.ivu-date-picker-cells-cell:hover em {
  background: #e1f0fe
}

.ivu-date-picker-cells-cell-next-month em, .ivu-date-picker-cells-cell-prev-month em {
  color: #bbbec4
}

.ivu-date-picker-cells-cell-next-month:hover em, .ivu-date-picker-cells-cell-prev-month:hover em {
  background: 0 0
}

span.ivu-date-picker-cells-cell-disabled, span.ivu-date-picker-cells-cell-disabled:hover {
  cursor: not-allowed;
  background: #f7f7f7;
  color: #bbbec4
}

span.ivu-date-picker-cells-cell-disabled em, span.ivu-date-picker-cells-cell-disabled:hover em {
  color: inherit;
  background: inherit
}

.ivu-date-picker-cells-cell-today em {
  position: relative
}

.ivu-date-picker-cells-cell-today em:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2d8cf0;
  position: absolute;
  top: 1px;
  right: 1px
}

.ivu-date-picker-cells-cell-range {
  position: relative
}

.ivu-date-picker-cells-cell-range em {
  position: relative;
  z-index: 1
}

.ivu-date-picker-cells-cell-range:before {
  content: '';
  display: block;
  background: #e1f0fe;
  border-radius: 0;
  border: 0;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  right: 0
}

.ivu-date-picker-cells-cell-selected em, .ivu-date-picker-cells-cell-selected:hover em {
  background: #2d8cf0;
  color: #fff
}

span.ivu-date-picker-cells-cell-disabled.ivu-date-picker-cells-cell-selected em {
  background: #bbbec4;
  color: #f7f7f7
}

.ivu-date-picker-cells-cell-today.ivu-date-picker-cells-cell-selected em:after {
  background: #fff
}

.ivu-date-picker-cells-month, .ivu-date-picker-cells-year {
  margin-top: 14px
}

.ivu-date-picker-cells-month span, .ivu-date-picker-cells-year span {
  width: 40px;
  height: 28px;
  line-height: 28px;
  margin: 10px 12px;
  border-radius: 3px
}

.ivu-date-picker-cells-month span em, .ivu-date-picker-cells-year span em {
  width: 40px;
  height: 28px;
  line-height: 28px;
  margin: 0
}

.ivu-date-picker-header {
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid #e9eaec
}

.ivu-date-picker-header-label {
  cursor: pointer;
  transition: color .2s ease-in-out
}

.ivu-date-picker-header-label:hover {
  color: #2d8cf0
}

.ivu-date-picker-prev-btn {
  float: left
}

.ivu-date-picker-prev-btn-arrow-double {
  margin-left: 10px
}

.ivu-date-picker-prev-btn-arrow-double i:after {
  content: "\F3D2"
}

.ivu-date-picker-next-btn {
  float: right
}

.ivu-date-picker-next-btn-arrow-double {
  margin-right: 10px
}

.ivu-date-picker-next-btn-arrow-double i:after {
  content: "\F3D3"
}

.ivu-date-picker-with-range .ivu-picker-panel-body {
  min-width: 432px
}

.ivu-date-picker-with-range .ivu-picker-panel-content {
  float: left
}

.ivu-picker-panel-content {
  float: left
}

.ivu-picker-panel-icon-btn {
  display: inline-block;
  width: 20px;
  height: 24px;
  line-height: 26px;
  margin-top: 4px;
  text-align: center;
  cursor: pointer;
  color: #bbbec4;
  transition: color .2s ease-in-out
}

.ivu-picker-panel-icon-btn:hover {
  color: #2d8cf0
}

.ivu-picker-panel-icon-btn i {
  font-size: 14px
}

.ivu-picker-panel-body-wrapper.ivu-picker-panel-with-sidebar {
  padding-left: 92px
}

.ivu-picker-panel-sidebar {
  width: 92px;
  float: left;
  margin-left: -92px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #f8f8f9;
  border-right: 1px solid #e9eaec;
  border-radius: 4px 0 0 4px;
  overflow: auto
}

.ivu-picker-panel-shortcut {
  padding: 6px 15px 7px 15px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.ivu-picker-panel-shortcut:hover {
  background: #e9eaec
}

.ivu-picker-panel-body {
  float: left
}

.ivu-picker-confirm {
  border-top: 1px solid #e9eaec;
  text-align: right;
  padding: 8px;
  clear: both
}

.ivu-picker-confirm > span {
  color: #2d8cf0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding: 2px 0;
  transition: all .2s ease-in-out
}

.ivu-picker-confirm > span:hover {
  color: #57a3f3
}

.ivu-picker-confirm > span:active {
  color: #2b85e4
}

.ivu-picker-confirm > span.ivu-picker-confirm-time-disabled {
  color: #bbbec4;
  cursor: not-allowed
}

.ivu-time-picker-cells {
  min-width: 112px
}

.ivu-time-picker-cells-with-seconds {
  min-width: 168px
}

.ivu-time-picker-cells-list {
  width: 56px;
  max-height: 144px;
  float: left;
  overflow: hidden;
  border-left: 1px solid #e9eaec;
  position: relative
}

.ivu-time-picker-cells-list:hover {
  overflow-y: auto
}

.ivu-time-picker-cells-list:first-child {
  border-left: none;
  border-radius: 4px 0 0 4px
}

.ivu-time-picker-cells-list:last-child {
  border-radius: 0 4px 4px 0
}

.ivu-time-picker-cells-list ul {
  width: 100%;
  margin: 0;
  padding: 0 0 120px 0;
  list-style: none
}

.ivu-time-picker-cells-list ul li {
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 0 16px;
  box-sizing: content-box;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  list-style: none;
  transition: background .2s ease-in-out
}

.ivu-time-picker-cells-cell:hover {
  background: #f3f3f3
}

.ivu-time-picker-cells-cell-disabled {
  color: #bbbec4;
  cursor: not-allowed
}

.ivu-time-picker-cells-cell-disabled:hover {
  color: #bbbec4;
  background-color: #fff;
  cursor: not-allowed
}

.ivu-time-picker-cells-cell-selected, .ivu-time-picker-cells-cell-selected:hover {
  color: #2d8cf0;
  background: #f3f3f3
}

.ivu-time-picker-header {
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid #e9eaec
}

.ivu-time-picker-with-range .ivu-picker-panel-body {
  min-width: 228px
}

.ivu-time-picker-with-range .ivu-picker-panel-content {
  float: left;
  position: relative
}

.ivu-time-picker-with-range .ivu-picker-panel-content:after {
  content: '';
  display: block;
  width: 2px;
  position: absolute;
  top: 31px;
  bottom: 0;
  right: -2px;
  background: #e9eaec;
  z-index: 1
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right {
  float: right
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right:after {
  right: auto;
  left: -2px
}

.ivu-time-picker-with-range .ivu-time-picker-cells-list:first-child {
  border-radius: 0
}

.ivu-time-picker-with-range .ivu-time-picker-cells-list:last-child {
  border-radius: 0
}

.ivu-time-picker-with-range.ivu-time-picker-with-seconds .ivu-picker-panel-body {
  min-width: 340px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells {
  min-width: 216px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds {
  min-width: 216px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds .ivu-time-picker-cells-list {
  width: 72px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds .ivu-time-picker-cells-list ul li {
  padding: 0 0 0 28px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list {
  width: 108px;
  max-height: 216px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list:first-child {
  border-radius: 0
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list:last-child {
  border-radius: 0
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list ul {
  padding: 0 0 192px 0
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list ul li {
  padding: 0 0 0 46px
}
.ivu-picker-panel-body{
  min-width:432px
}

.ivu-form .ivu-form-item-label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 12px;
  color: #495060;
  line-height: 1;
  padding: 10px 12px 10px 0;
  box-sizing: border-box
}

.ivu-form-label-left .ivu-form-item-label {
  text-align: left
}

.ivu-form-label-top .ivu-form-item-label {
  float: none;
  display: inline-block;
  padding: 0 0 10px 0
}

.ivu-form-inline .ivu-form-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top
}

.ivu-form-item {
  margin-bottom: 24px;
  vertical-align: top;
  zoom: 1
}

.ivu-form-item:after, .ivu-form-item:before {
  content: "";
  display: table
}

.ivu-form-item:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0
}

.ivu-form-item-content {
  position: relative;
  line-height: 32px;
  font-size: 12px
}

.ivu-form-item .ivu-form-item {
  margin-bottom: 0
}

.ivu-form-item .ivu-form-item .ivu-form-item-content {
  margin-left: 0 !important
}

.ivu-form-item-error-tip {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 1;
  padding-top: 6px;
  color: #ed3f14
}

.ivu-form-item-required .ivu-form-item-label:before {
  content: '*';
  display: inline-block;
  margin-right: 4px;
  line-height: 1;
  font-family: SimSun;
  font-size: 12px;
  color: #ed3f14
}

.ivu-carousel {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.ivu-carousel-list, .ivu-carousel-track {
  transform: translate3d(0, 0, 0)
}

.ivu-carousel-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.ivu-carousel-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  z-index: 1
}

.ivu-carousel-item {
  float: left;
  height: 100%;
  min-height: 1px;
  display: block
}

.ivu-carousel-arrow {
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  z-index: 10;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: .2s;
  background-color: rgba(31, 45, 61, .11);
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit
}

.ivu-carousel-arrow:hover {
  background-color: rgba(31, 45, 61, .5)
}

.ivu-carousel-arrow > * {
  vertical-align: baseline
}

.ivu-carousel-arrow.left {
  left: 16px
}

.ivu-carousel-arrow.right {
  right: 16px
}

.ivu-carousel-arrow-always {
  display: inherit
}

.ivu-carousel-arrow-hover {
  display: inherit;
  opacity: 0
}

.ivu-carousel:hover .ivu-carousel-arrow-hover {
  opacity: 1
}

.ivu-carousel-dots {
  z-index: 10;
  display: none;
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 17px
}

.ivu-carousel-dots-inside {
  display: block;
  position: absolute;
  bottom: 3px
}

.ivu-carousel-dots-outside {
  display: block;
  margin-top: 3px
}

.ivu-carousel-dots li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 2px;
  padding: 7px 0;
  cursor: pointer
}

.ivu-carousel-dots li button {
  border: 0;
  cursor: pointer;
  background: #8391a5;
  opacity: .3;
  display: block;
  width: 16px;
  height: 3px;
  border-radius: 1px;
  outline: 0;
  font-size: 0;
  color: transparent;
  transition: all .5s
}

.ivu-carousel-dots li:hover > button {
  opacity: .7
}

.ivu-carousel-dots li.ivu-carousel-active > button {
  opacity: 1;
  width: 24px
}

.ivu-rate {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 20px;
  vertical-align: middle;
  font-weight: 400;
  font-style: normal
}

.ivu-rate-disabled .ivu-rate-star-content:before, .ivu-rate-disabled .ivu-rate-star:before {
  cursor: default
}

.ivu-rate-disabled .ivu-rate-star:hover {
  -ms-transform: scale(1);
  transform: scale(1)
}

.ivu-rate-star {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  position: relative;
  font-family: Ionicons;
  transition: all .3s ease
}

.ivu-rate-star:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.ivu-rate-star-content:before, .ivu-rate-star:before {
  color: #e9e9e9;
  cursor: pointer;
  content: "\F4B3";
  transition: all .2s ease-in-out;
  display: block
}

.ivu-rate-star-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden
}

.ivu-rate-star-content:before {
  color: transparent
}

.ivu-rate-star-full:before, .ivu-rate-star-half .ivu-rate-star-content:before {
  color: #f5a623
}

.ivu-rate-star-full:hover:before, .ivu-rate-star-half:hover .ivu-rate-star-content:before {
  color: #f7b84f
}

.ivu-rate-text {
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px
}

.ivu-upload input[type=file] {
  display: none
}

.ivu-upload-list {
  margin-top: 8px
}

.ivu-upload-list-file {
  padding: 4px;
  color: #495060;
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
  overflow: hidden;
  position: relative
}

.ivu-upload-list-file > span {
  cursor: pointer;
  transition: color .2s ease-in-out
}

.ivu-upload-list-file > span i {
  display: inline-block;
  width: 12px;
  height: 12px;
  color: #495060;
  text-align: center
}

.ivu-upload-list-file:hover {
  background: #f3f3f3
}

.ivu-upload-list-file:hover > span {
  color: #2d8cf0
}

.ivu-upload-list-file:hover > span i {
  color: #495060
}

.ivu-upload-list-file:hover .ivu-upload-list-remove {
  opacity: 1
}

.ivu-upload-list-remove {
  opacity: 0;
  font-size: 18px;
  cursor: pointer;
  float: right;
  margin-right: 4px;
  color: #999;
  transition: all .2s ease
}

.ivu-upload-list-remove:hover {
  color: #444
}

.ivu-upload-drag {
  background: #fff;
  border: 1px dashed #dddee1;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border-color .2s ease
}

.ivu-upload-drag:hover {
  border: 1px dashed #2d8cf0
}

.ivu-upload-dragOver {
  border: 2px dashed #2d8cf0
}

.ivu-tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px
}

.ivu-tree ul li {
  list-style: none;
  margin: 8px 0;
  padding: 0;
  white-space: nowrap;
  outline: 0
}

.ivu-tree li ul {
  margin: 0;
  padding: 0 0 0 18px
}

.ivu-tree-title {
  display: inline-block;
  margin: 0;
  padding: 0 4px;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: top;
  color: #495060;
  transition: all .2s ease-in-out
}

.ivu-tree-title:hover {
  background-color: #eaf4fe
}

.ivu-tree-title-selected, .ivu-tree-title-selected:hover {
  background-color: #d5e8fc
}

.ivu-tree-arrow {
  cursor: pointer
}

.ivu-tree-arrow i {
  transition: all .2s ease-in-out
}

.ivu-tree-arrow-open i {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.ivu-tree-arrow-hidden {
  cursor: auto
}

.ivu-tree-arrow-hidden i {
  display: none
}

.ivu-tree-arrow-disabled {
  cursor: not-allowed
}
