body
{
	margin:0 auto;
	min-width:19.9375em;
	color:#4c4c4c;
	font-style:normal;
	line-height:1.5;
  height: auto;
}
body{color:#4c4c4c;font-family:'Microsoft YaHei',sans-serif,'Raleway';line-height:1.5;font-style:normal}
body:lang(ja-JP){font-family:'Aktiv Grotesk W01 JP Regular',sans-serif}
body:lang(zh-CN){font-family:'Microsoft YaHei',sans-serif}
a{text-decoration:none}

.icon{font-family:'Elusive-Icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-arrow-down:before{content:"\e600"}
.icon-arrow-up:before{content:"\e604"}

label{
	cursor: pointer;
}

input[type="search"]
{
	box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
}

ivu-icon{width:14px;height:14px;margin-right:8px}

ul{
  list-style: outside none none;
}
